@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Medium.ttf) format('truetype');
    color: #1B1C21;
    font-weight: normal;
}

html, body {
  overflow: hidden;
  height: 100%;
}

.body {
  margin: 0;
  font-family: "TT Lakes";
  box-sizing: border-box;
  background: #ffffff;
  font-size: 16px;
  line-height: 24px;
  color: #1B1C21;
}

.sideBarMenu {
  width: 320px;
  height: 100%;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topBar-list {
  display: flex;
  padding: 20px;
  justify-content: start;
  align-items: center;
  list-style: none;
}

.contacts__icons button {
  text-decoration: none;
  border: none; 
  cursor: pointer; 
}

.button--icon {
  background-color: #ff3e79;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  transition: filter 0.3s ease;
  text-decoration: none;
  margin-bottom: 15px;
  margin-right: 10px;
  border: none; 
  padding: 0; 
  cursor: pointer; 
}

.call {
  background-image: url(img/call.png);
  background-size: contain;
  background-size: 17px 17px;
}

.chat {
  background-image: url(img/chat.png);
  background-size: contain;
  background-size: 32px 32px;
}

.profile {
  background-image: url(img/profile.png);
  background-size: contain;
  background-size: 17px 17px;
}

.button--icon:hover {
  filter: brightness(1.5);
}

.checkstatus {
  padding-left:70px;
}

.topBar-items{
  transition: filter 0.3s ease;
}

.topBar-items:hover {
  filter: brightness(1.5);
}

.logo {
  padding-left: 20px;
  align-self: center;
}

.mainMenu__list {
  list-style: none;
  padding: 0;
}

.mainMenu__link {
  display: block;
  padding-left: 24px;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  color: #1B1C21;
  text-decoration: none;
}

.mainMenu__item {
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}

.mainMenu__item:hover {
  filter: opacity(0.75);
}

.mainMenu__item--active:hover a {
  color: #7E7E82;
}

.mainMenu__item--active:hover::before {
  content: "";
  background: #41F6D7;
  width: 4px;
  height: 32px;
  border-radius: 0 4px 4px 0;
  position: absolute;
  left: 0;
}

.bottomMenu__list {
  list-style: none;
  padding: 0;
  padding-left: 24px;
}

.bottomMenuBar__items {
  list-style: none;
  padding: 0;
  display: flex;
  padding-bottom: 16px;
  gap: 20px;
}

.lang {
  display: flex;
  list-style: none;
  padding: 0;
}

.lang__item {
  padding-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.lang__item--active:hover {
  color: #7E7E82;
  filter: opacity(0.75);
}

.bottomMenu__phone {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #1B1C21;
}

.bottomMenu__list > li {
  padding-bottom: 16px;
}

.bottomMenu__mail a,
.bottomMenu__phone a {
    color: black;
    text-decoration: none;
}
